#map {
    height: 80vh;
    width: 100hw;

    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: black;
}

h1{
    color:darkblue;
    font-family: Verdana;
    text-align: center;
}

select{
    margin-bottom: 20px;
    margin-left: 20px;
}
#select-location{
    margin-bottom: 20px;
    margin-left: 50px;
}
#botonInicio{
    margin-bottom: 20px;
    margin-left: 50px;
}
#botonFin{
    margin-bottom: 20px;
    margin-left: 50px;
}
#MarcarCamino{
    margin-bottom: 20px;
    margin-left: 50px;
}
.card{
    margin-bottom: 20px;
    margin-left: 20px;
}